.playingCards.inText .card {
	font-size: 1em;
}

.playingCards.simpleCards .card.back {
    text-indent: -4000px;
    background-color: #ccc;
    background-repeat: repeat;
    background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkA…pM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7) !important;
    background-image: -moz-repeating-linear-gradient(34% 6% 135deg,#0F1E59, #75A1BF, #3E3E63 50%) !important;
    background-image: -webkit-gradient(radial, center center, 20, center center, 80, from(#3c3), color-stop(0.4, #363), to(#030)) !important;
}

.playingCards.faceImages .card.rank-j.back, 
.playingCards.faceImages .card.rank-q.back, 
.playingCards.faceImages .card.rank-k.back {
	background-position: 0 0;
}

.playingCards ul.deck li:nth-child(33) { left: 64px; bottom: 32px; }
.playingCards ul.deck li:nth-child(34) { left: 66px; bottom: 33px; }
.playingCards ul.deck li:nth-child(35) { left: 68px; bottom: 34px; }
.playingCards ul.deck li:nth-child(36) { left: 70px; bottom: 35px; }
.playingCards ul.deck li:nth-child(37) { left: 72px; bottom: 36px; }
.playingCards ul.deck li:nth-child(38) { left: 74px; bottom: 37px; }
.playingCards ul.deck li:nth-child(39) { left: 76px; bottom: 38px; }
.playingCards ul.deck li:nth-child(40) { left: 78px; bottom: 39px; }
.playingCards ul.deck li:nth-child(41) { left: 80px; bottom: 40px; }
.playingCards ul.deck li:nth-child(42) { left: 82px; bottom: 41px; }
.playingCards ul.deck li:nth-child(43) { left: 84px; bottom: 42px; }
.playingCards ul.deck li:nth-child(44) { left: 86px; bottom: 43px; }
.playingCards ul.deck li:nth-child(45) { left: 88px; bottom: 44px; }
.playingCards ul.deck li:nth-child(46) { left: 90px; bottom: 45px; }
.playingCards ul.deck li:nth-child(47) { left: 92px; bottom: 46px; }
.playingCards ul.deck li:nth-child(48) { left: 94px; bottom: 47px; }
.playingCards ul.deck li:nth-child(49) { left: 96px; bottom: 48px; }
.playingCards ul.deck li:nth-child(50) { left: 98px; bottom: 49px; }
.playingCards ul.deck li:nth-child(51) { left: 100px; bottom: 50px; }
.playingCards ul.deck li:nth-child(52) { left: 102px; bottom: 51px; }